header {
	height:64px;
	width: 100%;
	background: #eee;
	padding: 8px;
}

header div.logo{
	width: 225px;
	height: 50px;
	border: 2px solid #ccc;
	background: #fff;
	padding: 4px;
}
#checkmate-nav {
	text-align: center;
	width: 100%;
	background: #999;
	margin-bottom: 32px;
	height: 24px;
}
.fatheader {
	float: left;
	display: inline;
	border: 1px solid #ddd;
	height: auto;
}
.fatheader div {
	background: #fff;
	float: left;
	display: inline-block;
	width: 115px;
	border-right: 1px solid #ddd;
	padding: 8px;
	margin: 0;
}
.fatheader  div.selected {
	background: #ddd;

}
.fatheader div.last {
	border-right: none;
}

.filter-row {
	float: left;
	display: inline;
	border:1px solid #ddd;
	padding: 8px 0 8px 8px;
	margin: 0;
}
thead {
	background:#666;
	color: #fff;

}
.table-bordered {
-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-top-left: 0px;
}
.negative {
background-color:#ffd9d9;
}

span.percents {
	text-align: right;
	width: 4em;
	margin-right: 4px;
	display: inline-block;
}
.center-buttons {
	text-align: center;

}