header {	
	text-align: center;
	width: 100%;
	background: #eee;
}

#checkmate-nav {
	text-align: center;
	width: 100%;
	background: #999;
	margin-bottom: 32px;
}
#fatheader {
	float: left;
	display: inline;
	border: 1px solid #ddd;
	height: auto;
}
#fatheader div {
	background: #f9f9f9;
	float: left;
	display: inline-block;
	width: 115px;
	border-right: 1px solid #ddd;
	padding: 8px;
}
#fatheader  div.selected {
	background: #ddd;

}
#fatheader div.last {
	border-right: none;
}

#filter {
	float: left;
	display: inline;
	border:1px solid #ddd;
	padding: 8px;
}

.table-bordered {
-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-top-left: 0px;
}
.pink {
background-color:#ffd9d9;
}

span.percents {
	text-align: right;
	width: 4em;
	margin-right: 4px;
	display: inline-block;
}